body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* nav bar start */

header {
  background-color: #ffffff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  & ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

      & li{
          margin-right: 20px;

          & a{
              text-decoration: none;
              color: #000000;
              font-weight: 600;
          }
      
      }
  }

  .auth-buttons {
      display: flex;

      & a {
          margin-right: 10px;
          text-decoration: none;
          color: #000000;
          font-weight: 550;
          padding: 11px 28px;
          border-radius: 30px;
      }

      .a{
          color: #ffffff;
          background-color: #000000;
      }

      img{
          width: 30px;
          height: 30px;
          cursor: pointer;
          margin-top: 8px;
      }
  }
}

/* hero section start */

.hero {
  background-image: url('figma image/Rectangle 1.png');
  background-repeat: no-repeat; 
  background-size: 100%;
  width: 100%;
  height: 600px;
  background-position: center;
  display: inline-block;
  justify-content: center;
  align-items: center;

  .zapper {
      background: none;
      text-align: center;
      border-radius: 30px;
      border: 1.5px solid #ffffff;
      padding:13px 38px;
      cursor: pointer;
      text-decoration: underline;
      color: white;
      margin-top: 100px;
      margin-left: 550px;
    }
}

.hero-content {
  border-radius: 8px;
  background-color: white;
  padding: 25px;
  text-align: center;
  width: 600px;
  height: 200px;
  margin: auto;
  margin-top:150px;

  & form {
      margin-top: 20px;

      & button{
          font-weight: 600;
          background-color: #00EBC7;
          color: black;
          padding: 12px 45px;
          border-radius:30px ;
      }

      & input {
          background-color: #ECECEC;
          border:none;
          border-radius: 10px;
          width: 350px;
          height: 30px;
          font-weight: 700;
      }

      & select{
          margin: 20px;
          width: 100px;
          height: 30px;
          background-color: #ECECEC;
          border-radius: 10px;
          border: none;
          font-weight: 550;
      }
  }
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}


/*  hero section end */

/* buy and sell section start */

.banner {
  background-color: yellow;
  text-align: center;
  padding: 20px;
  border-bottom:1px solid ;

  & h1{
     font-size: 34px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 20px;

  & img {
      width: auto;
      height: auto;
  }
}



/* buy and sell section end */

/* features section start */

.fwtay {
  font-size: 34px;
  font-weight: 600;
  margin-left: 70px;
}

.divisionline{
  width:300px;
  height: 0px;
  border: 1px solid black;
  margin: 175px 0px 0px 30px ;
 
}
.see-all-features {
  display: block;
  padding: 12px 60px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  border: 1.5px solid;
  border-radius: 30px;
  margin: 25px auto ;

}

.features {
  text-align: center;
  padding: 40px;
  display: flex;
}

.feature-item {
  display: inline-block;
  margin: 20px;
  text-align: center;


  & img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  & h3 {
    margin-bottom: 10px;
  }

  & p {
    margin-bottom: 20px;
    color: #535353;
  }

  & a {
    display: block;
    text-decoration: underline;
    color: #000;
    font-size: 17px;
    font-weight: 600;
  }
}


/* features section end */

/* buy/sell section start */
 .gh{
    width: auto;
    border: .1px solid #000000;
    margin-bottom: -20px;
    font-weight: 100;
   }

  .hg{
    width: auto;
    border:.01 solid #000000;
    margin-bottom: -20px;
  }

.container {
   margin: 0px;
   padding: 0px;

  & button {
    padding: 12px 40px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 35px;
    margin-left: 25%;
    margin-bottom: 50px;
  }

  .vertical-line {
    height: auto;
    border-left: 1px solid #000000;
  }
  
}

.left-column{

  & h2 {
    font-size: 34px;
    font-weight: 550;
    margin-bottom: 50px;
  }

  .payment-option{
    margin-bottom: 20px;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;

    & p {
      font-size: 20px;
      font-weight: 549;
    }
  }
}

.right-column{

  & h2 {
    font-size: 34px;
    font-weight: 550;
    margin-bottom: 50px;
  }

  .payment-option{
    margin-bottom: 20px;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;

    & p {
      font-size: 20px;
      font-weight: 549;
    }
  }
}


/* buy/sell section end */

/* sign up section start */

.containerofsignupsection{
  background-color:#CFBAFF;
  border-top: 1px solid;

  & h1{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 50px;
  }

  & button{
    padding: 12px 40px;
    background-color:black ;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 550px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}


/* sign up section end */

/* footer section start */

.footerandcopyright{
  margin: 0px;
  padding: 0px;
  color: #fff;
  background-color: black;
}
.container {
display: flex;
justify-content: space-around;
padding: 20px;
border-bottom: 1px solid white;

& img{
  margin-top: 30px;
  cursor: pointer;
}

& h2{
  text-align: left;
  margin-bottom: 20px;
  font-size: 28px;
}

& ul {
  list-style: none;
  padding: 0;

  & li {
      margin-bottom: 10px;

      & a{
          color: #fff;
          text-decoration: none;
          font-size: 18px;

      }
  }
}
}

/* copyright section end */

.copyright{
font-size: 10px;
text-align: center;
margin-bottom: 0px;
}

/* copyright section end */

/* footer section end */